.jumbotron {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(113,43,226,0.5230352303523036) 60%, rgba(82,43,226,0.991869918699187) 99%);
    color: rgb(0, 86, 167);
    text-shadow: rgba(0, 255, 255, 0.411) 0.5px 0.5px;
    padding-left: 25%;
    padding-bottom: 20px;
}

input {
    border-radius: 15px;
    padding: 6px;
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 20px;
}
thead {
    background: rgba(73, 15, 128, 0.466);
    color: white;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0, 183, 255, 0.055);
 }
 i {
    color: rgba(73, 15, 128, 0.466);
    padding: 10px;
 }
